.game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-board {
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-row {
  display: flex;
}

.square {
  margin: 5px;
  width: 55px;
  height: 55px;
  border: solid 2px black;
  border-radius: 3px;
  background-color: white;
}
